@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
// colors :
$primary-clr: #04BF37;
$secondary-clr: #1CA6E1;
$bg-clr : #07295A;
$bg-clr-der : #0B0C0C;
$txt-clr : #0B0C0C;
$txt-cl-wh: #FCFEFD;
$btn-clr: #ff5252;
$link-clr: #1CA6E1;

// Typography :
$font-one: 'Open Sans', sans-serif;
$font-two: 'Mochiy Pop One', sans-serif;
$big-title : 48px;
$title: 34px;
$subtitle: 28px;
$description: 22px;
$link: 14px;
$button : 16px;