@use "../../styles/uses.scss" as *;
.App-hamburger {
    display: none;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    @include devices(mobile) {
        display: flex;
    }
    &-link {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 35px;
        padding: 5px;
        border: 1px solid $primary-clr;
        text-align: center;
        height: 35px;
        z-index: 6;
        &-line {
            display: block;
            width: 80%;
            background-color: $primary-clr;
            height: 1px;
        }
    }
}