//@import "../styles/variables";
@use "../styles/uses.scss" as *;
.App-header {
  background-color: $bg-clr;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../assets/bg-header.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $txt-cl-wh;
  &::after {
    content: "";
    display: block;
    z-index: 4;
    position: absolute;
    background: rgba($color: $bg-clr-der, $alpha: 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  nav {
    position: absolute;
    z-index: 5;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgba($color: $bg-clr, $alpha: 0.9);
    @include devices(mobile) {
      justify-content: space-between;
      background-color: rgba($color: $bg-clr, $alpha: 0.9);
      margin: 0;
    }
    .App-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 60px;
      z-index: 6;
      position: relative;
      pointer-events: none;
      animation: App-logo-spin infinite 20s linear;
      @include devices(mobile) {
        height: 50px;
      }
    }
    .App-menu {
      display: flex;
      position: relative;
      flex-direction: row;
      padding-top: 16px;
      padding-bottom: 16px;
      align-items: center;
      justify-content: space-between;
      @include devices(mobile) {
        position: absolute;
        display: none;
        left: 0;
        top: 70px;
        width: 100%;
        padding: 20px;
        background-color: rgba($color: $bg-clr, $alpha: 0.9);
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
      }
      .App-link {
        text-decoration: none;
        font-size: 18px;
        margin-left: 20px;
        text-transform: capitalize;
        color: $txt-cl-wh;
        box-sizing: border-box;
        transition: ease-in-out 0.2s;
        &:hover , &-selected {
          border-bottom: 4px solid $primary-clr;
          color: $primary-clr;
        }
        @include devices(mobile) {
          margin-left: 0;
          margin-bottom: 20px;
        }
      }
      .App-lang {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        &-link {
          display: flex;
          font-size: 14px;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 40px;
          border-radius: 50%;
          text-decoration: none;
          background-color: $primary-clr;
          text-align: center;
          color: $txt-cl-wh;
          height: 40px;
          z-index: 6;
        }
        @include devices(mobile) {
          margin-left: 0;
        }
      }
    }
    .App-hamburger {
      display: none;
      flex-direction: row;
      margin-left: 20px;
      align-items: center;
      justify-content: center;
      @include devices(mobile) {
        display: flex;
      }
      &-link {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 35px;
        padding: 5px;
        border: 1px solid $primary-clr;
        text-align: center;
        height: 35px;
        z-index: 6;
        &-line {
          display: block;
          width: 80%;
          background-color: $primary-clr;
          height: 1px;
        }
      }
    }
  }
  .App-header-desc {
    position: relative;
    color: $txt-cl-wh;
    z-index: 5;
    &-subtitle {
      font-family: $font-one;
      color: $txt-cl-wh;
      font-size: $subtitle;
      margin-bottom: 30px;
      @include devices(mobile) {
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 22px;
      }
    }
    &-title {
      font-family: $font-two;
      color: $txt-cl-wh;
      font-size: $big-title;
      margin-bottom: 30px;
      span {
        color: $primary-clr;
      }
      @include devices(mobile) {
        font-size: 26px;
      }
    }
    &-btn {
      color: $primary-clr;
      text-shadow: 10px 10px 10px $bg-clr-der;
      padding: 10px;
      background-color: rgba($color: $primary-clr, $alpha: 0.5);
      border-radius: 60px;
      margin-bottom: 30px;
      @include devices(mobile) {
        font-size: 20px;
      }
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}