//@import "../styles/variables";
@use "../styles/uses.scss" as *;
.App-header {
  background-color: $bg-clr;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../assets/bg-header.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $txt-cl-wh;
  &::after {
    content: "";
    display: block;
    z-index: 4;
    position: absolute;
    background: rgba($color: $bg-clr-der, $alpha: 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  nav {
    position: absolute;
    z-index: 5;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgba($color: $bg-clr, $alpha: 0.9);
    @include devices(mobile) {
      justify-content: space-between;
    }
    .App-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 60px;
      z-index: 6;
      position: relative;
      pointer-events: none;
      animation: App-logo-spin infinite 20s linear;
    }
    .App-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include devices(mobile) {
        flex-direction: colum;
        display: none;
      }
      .App-link {
        text-decoration: none;
        margin-left: 10px;
        font-size: 18px;
        text-transform: capitalize;
        color: $txt-cl-wh;
        transition: ease-in-out 0.2s;
        &:hover , &-selected {
          border-bottom: 3px solid $primary-clr;
          color: $primary-clr;
        }
      }
    }
    .App-hamburger {
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include devices(mobile) {
        display: flex;
      }
      &-link {
        display: flex;
        font-size: 14px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40px;
        text-decoration: none;
        background-color: $primary-clr;
        text-align: center;
        color: $txt-cl-wh;
        height: 40px;
        z-index: 6;
      }
    }
    .App-lang {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-link {
        display: flex;
        font-size: 14px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 40px;
        border-radius: 50%;
        text-decoration: none;
        background-color: $primary-clr;
        text-align: center;
        color: $txt-cl-wh;
        height: 40px;
        z-index: 6;
      }
    }
  }
  .App-header-desc {
    color: $txt-cl-wh;
    z-index: 5;
    &-subtitle {
      font-family: $font-one;
      color: $txt-cl-wh;
      font-size: $subtitle;
      margin-bottom: 30px;
    }
    &-title {
      font-family: $font-two;
      color: $txt-cl-wh;
      font-size: $big-title;
      margin-bottom: 30px;
      span {
        color: $primary-clr;
      }
    }
    &-btn {
      color: $primary-clr;
      text-shadow: 10px 10px 10px $bg-clr-der;
      padding: 10px;
      background-color: rgba($color: $primary-clr, $alpha: 0.5);
      border-radius: 60px;
      margin-bottom: 30px;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}